<launch>
  <master auto="start"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find rmc_2dnav)/maps/rmc_arena_5cm.yaml"/>  

  <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 map odom 30" />

  <node ns="local_costmap" name="voxel_grid_throttle" pkg="topic_tools" type="throttle" args="messages voxel_grid 3.0 voxel_grid_throttled" />
  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">

    <remap from="/odom" to="/odometry/filtered" />

    <param name="footprint_padding" value="0.01" />
    <param name="controller_frequency" value="10.0" />
    <param name="controller_patience" value="100.0" />
    <param name="base_global_planner" value="SBPLLatticePlanner" />
    <param name="base_local_planner" value="pose_follower/PoseFollower" />
    <param name="SBPLLatticePlanner/primitive_filename" value="$(find sbpl)/matlab/mprim/rmc3.mprim" />

    <rosparam file="$(find rmc_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rmc_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find rmc_2dnav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find rmc_2dnav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find rmc_2dnav)/config/pose_follower_params.yaml" command="load" />
    <rosparam file="$(find sbpl_lattice_planner)/launch/sbpl_global_params.yaml" command="load" />
  </node>
</launch>
