<?xml version="1.0" encoding="utf-8"?>

<launch>

    <group ns="camera1">
        <node pkg="image_proc" type="image_proc" name="image_proc_node" output="screen">
        </node>
    </group>

	<node pkg="ar_sys" type="multi_boards" name="ar_multi_boards">
		<remap from="/camera_info" to="/camera1/camera_info" />
		<remap from="/image" to="/camera1/image_rect_color" />

		<param name="image_is_rectified" type="bool" value="true"/>
		<param name="boards_config" type="string" value="$(find gazebo_config)/aruco_markers/multi/1x1-1000px/boards.yml"/>
		<param name="boards_directory" type="string" value="$(find gazebo_config)/aruco_markers/multi/1x1-1000px"/>
		<param name="draw_markers" type="bool" value="false" />
		<param name="draw_markers_cube" type="bool" value="true" />
		<param name="draw_markers_axis" type="bool" value="false" />
	</node>
<!--
	<node pkg="image_view" type="image_view" name="image_view" output="screen">
		<remap from="image" to="/ar_multi_boards/result" />

		<param name="autosize" type="bool" value="true" />
	</node>
-->
</launch>

